

<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
       <img src="assets/portprofilr.jpg" alt="" class="profilepic">
          <ul class="list-unstyled components"  class="menu">
          <h3 id="name">Tiya Reba Stephen</h3>
          <h6 id="post">FullStack Developer</h6>
          <div class="sidealign">
          <li class="active" >
            <i class="fa fa-home" aria-hidden="true"></i>
            
              <a href="#home">Home</a>
          </li>
          <li>
            <i class="fa fa-id-badge" aria-hidden="true"></i>
              <a routerLink="/about">About</a>
          </li>
          <li>
            <i class="fa fa-map-o" aria-hidden="true"></i>
              <a href="#samples">Samples</a>
          </li>
          <li>
            <i class="fa fa-address-book-o" aria-hidden="true"></i>
              <a routerLink="/contact">Contact</a>
          </li>
          
</div>
      </ul>
      
  </nav>

 
  <!-- Page Content -->
  <section id="home=">
    <div class="landing">
      <div class="backgroound img">
            
     <div class="lancontents">
           <h3 istyle="font-family:Georgia (serif)" id="lan">I design and develop experiences that make people's lives Simple.....</h3>
          <div class="button">
          <button type="button">Hire Me <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
          <!-- <a href="#" class="hire"> Hire Me </a><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> -->
          </div> 
</div>
</div>
</div>
</section>

<!-- services session -->
<div id="about=">
<section class="services" >
  <div class="contents">
    <div class="row">

      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>Services</h3>
          </div>
          <div class="policy-img">
            <img src="assets/s4.jpg" alt="s1">
          </div>
          <h2>Creative website Design</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer eget aliquet nibh praesent tristique magna. </p>
          <a href="#" class="read-more">Read more <i class="fa fa-caret-right"></i></a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>Services</h3>
          </div>
          <div class="policy-img">
            <img src="assets/s5.jpg" alt="s1">
          </div>
          <h2>Creative website Design</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer eget aliquet nibh praesent tristique magna. </p>
          <a href="#" class="read-more">Read more <i class="fa fa-caret-right"></i></a> 
      </div>
    </div>

      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>Services</h3>
          </div>
          <div class="policy-img">
            <img src="assets/s7.jpg" alt="s1">
          </div>
          <h2>Creative website Design</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer eget aliquet nibh praesent tristique magna. </p>
          <a href="#" class="read-more">Read more <i class="fa fa-caret-right"></i></a>
    </div>
    </div>
  </div>
</div>

  </section>
</div>
<section id="samples=">
  <section class="testimony">
    <div class="contents">
      <div class="row">
        <div class="col-md-4">
          <div class="policy-p-card">
            <div class="date">
              <h3>Testimony</h3>
            </div>
            <div class="policy-img">
              <img src="assets/s7.jpg" alt="s1">
            </div>
            <h2>Best in the industry</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer eget aliquet nibh praesent tristique magna. </p>
            <a href="#" class="read-more">Read more <i class="fa fa-caret-right"></i></a>
          </div>
  
        </div>
        <div class="col-md-4">
          <div class="policy-p-card">
            <div class="date">
              <h3>Testimony</h3>
            </div>
            <div class="policy-img">
              <img src="assets/s5.jpg" alt="s1">
            </div>
            <h2>Awesome Service</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer eget aliquet nibh praesent tristique magna. </p>
            <a href="#" class="read-more">Read more <i class="fa fa-caret-right"></i></a> 
        </div>
      </div>
        <div class="col-md-4">
          <div class="policy-p-card">
            <div class="date">
              <h3>Testimony</h3>
            </div>
            <div class="policy-img">
              <img src="assets/s4.jpg" alt="s1">
            </div>
            <h2> Very Creative Designing</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer eget aliquet nibh praesent tristique magna. </p>
            <a href="#" class="read-more">Read more <i class="fa fa-caret-right"></i></a>          
      </div>
      </div>
    </div>
  </div>
  </section>
</section>

    <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-sm-6 col-6"></div>
              <div class="col-md-6 col-sm-6 col-6">
                  <div class="foot">
                  <i class="fa fa-facebook-official" aria-hidden="true"></i>
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                  <i class="fa fa-twitter-square" aria-hidden="true"></i>
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </div>
          </div>
          </div>
      </div>
  </footer>

</div>